<nav class="navbar navbar-light d-lg-none">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav mobile">
        {% include 'parts/private/header/top-menu.html.twig' %}
    </ul>
    <div class="collapse navbar-collapse menu-mobile" id="navbarSupportedContent">
        {{ knp_menu_render('main_menu', {'currentClass': 'active', 'ancestorClass': 'active'}) }}
    </div>
</nav>
<nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav mr-auto">
        <li class="welcome-box">
            <h3>
                {{ page_title_upper }}
            </h3>
            <h2>
                {{ page_title }}
            </h2>
        </li>
    </ul>
    <ul class="navbar-nav right">
        {% include 'parts/private/header/top-menu.html.twig' %}
    </ul>
</nav>
<div class="a-n">
    {% for notification in _notifications.getAdminNotifications() %}
        <div class="alert alert-info" role="alert">
            {{ notification.text|nl2br }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    data-url="{{ path('notification_read_admin', {'id': notification.id}) }}">
                <span class="iconly-brokenClose-Square"></span>
            </button>
            <p class="mb-0">
                <a href="https://translate.google.com/?sl=auto&tl={{ app.request.locale }}&text={{ notification.text|url_encode }}&op=translate" target="_blank">
                    {{ 'notification.translate'|trans }}
                </a>
            </p>
        </div>
    {% endfor %}
</div>