<nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav mr-auto">
        <li class="welcome-box">
            <h3>
                {{ page_title_upper }}
            </h3>
            <h2>
                {{ page_title }}
            </h2>
        </li>
    </ul>
    <ul class="navbar-nav right">
        <li>
            {{ 'helper.turn_off'|helper }}
        </li>
        <li class="dropdown">
            {% include 'parts/lang-dropdown.html.twig' %}
        </li>
        <li>
            <a href="{{ path('task_list_create') }}" class="btn btn-primary iconly-brokenPlus">
                {{ 'list.create_new'|trans }}
            </a>
        </li>
        <li class="dropdown notifications">
            {% include 'parts/private/notifications/notifications-dropdown.html.twig' %}
        </li>
        {% if app.user %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle user-box {{ app.user.color }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.user.nickname|first|capitalize }}
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="btn btn-primary btn-md btn-block" href="{{ path('app_logout') }}">
                            {{ "header.logout"|trans }}
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
    </ul>
</nav>
<div class="a-n">
    {% for notification in _notifications.getAdminNotifications() %}
        <div class="alert alert-info" role="alert">
            {{ notification.text|nl2br }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    data-url="{{ path('notification_read_admin', {'id': notification.id}) }}">
                <span class="iconly-brokenClose-Square"></span>
            </button>
            <p class="mb-0">
                <a href="https://translate.google.com/?sl=auto&tl={{ app.request.locale }}&text={{ notification.text|url_encode }}&op=translate" target="_blank">
                    {{ 'notification.translate'|trans }}
                </a>
            </p>
        </div>
    {% endfor %}
</div>