{% extends 'v1/public/base-half-screen.html.twig' %}

{% block title %}{{ 'security.login'|trans }}{% endblock %}

{% block content %}
    <form method="post" name="login_form" class="login-form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans }}</div>
        {% endif %}

        <h2 class="mb-3 text-center">{{ 'security.sign_in_to'|trans }} {{ _site_name }}</h2>
        <div class="form-group col-auto">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>
        <div class="form-group col-auto">
            <label for="inputPassword">
                Password
                <a class="forgot-pass" href="{{ path('app_forgot_password_request') }}">
                    {{ 'security.restore_pw'|trans }}
                </a>
            </label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>

        <input type="hidden" name="_remember_me" value="1">
        <button class="btn btn-lg btn-primary sign-in-btn" type="submit">
            {{ 'security.sign_in'|trans }}
        </button>
    </form>
    <div class="sign-up-link text-center">
        {{ 'security.dont_have_acc'|trans }} <a href="{{ path('app_register') }}">{{ 'security.sign_up_now'|trans }}</a>
    </div>
{% endblock %}
