<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="iconly-brokenNotification icon-large"></span>
    <span id="unread-notifications">{{ _notifications.countUnread() }}</span>
</a>
<ul class="dropdown-menu nf-dropdown">
    {% for notification in _notifications.getUnread() %}
        <li class="nf">
            {% if notification.getUrlParams is not null %}
                <a href="{{ path(notification.getUrlParams['page'], {'id': notification.getUrlParams['id']}) }}">
            {% else %}
                <a href="#" onclick="return">
            {% endif %}
                    <div class="user-box small {{ app.user.color }} float-left">
                        {{ notification.userInvolved.nickname|first|capitalize }}
                    </div>
                    <div class="nf-info">
                    {{ notification.getDescription()|trans({
                        '%app%': _site_name,
                        '%user%': notification.userInvolved.nickname,
                        '%list%': notification.taskList.name ?? '',
                        '%text%': notification.text
                    })|raw }}
                    </div>
                </a>

            {% if notification.seen == false %}
                <form name="notification_read" method="post" action="{{ path('notification_read', {'id': notification.id}) }}">
                    <input type="hidden" name="_method" value="POST">
                    <input type="hidden" name="_token" value="{{ csrf_token('read_notification' ~ notification.id) }}">
                    <button class="btn close">
                        <span class="iconly-brokenClose-Square"></span>
                    </button>
                </form>
            {% endif %}
            <small class="date">{{ notification.date|date }}</small>
        </li>
    {% endfor %}
    <li class="text-center all-btn">
        <a href="{{ path('notification_index') }}" class="btn btn-lg btn-primary">{{ 'notification.all_btn'|trans }}</a>
    </li>
</ul>
