{% extends 'v1/html.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('common') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('common') }}
{% endblock %}
{% block body %}
    <div class="container-fluid public">
        <div class="row">
            <div class="col-md-6 wh100 login-wrapper d-none d-xs-none d-md-block">
                {% block background %}
                    <div class="login">
                        <div class="navbar-header">
                            <div class="logo">
                                <a href="{{ path('index') }}">
                                    <img class="img-fluid" src="{{ asset('img/logo.svg') }}" alt="{{ _site_name }}">
                                </a>
                            </div>
                        </div>
                        <img class="main-img" src="/img/login/login-bg.png">
                    </div>
                {% endblock %}
            </div>
            <div class="col-md-6 wh100 login-main">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block mobile_logo %}
                    <div class="navbar-header mobile-header d-sm-block d-md-none">
                        <div class="logo">
                            <a href="{{ path('index') }}">
                                <img class="img-fluid" src="{{ asset('img/logo.svg') }}" alt="{{ _site_name }}">
                            </a>
                        </div>
                    </div>
                {% endblock %}
                {% block lang_dropdown %}
                    <div class="lang-dropdown text-right">
                        {% include 'v1/parts/lang-dropdown-extend.html.twig' %}
                    </div>
                {% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
