<h1>Hi! You've been invited!</h1>

<p>
    {{ site_name }} User {{ from }} has shared a list with you and wants you to join {{ site_name }}.
    This list will be available for you after the registration on <a href="{{ url('index') }}">{{ url('index') }}</a>
</p>

<p>
    Cheers!
</p>
