{% extends 'base.html.twig' %}

{% block title %}{{ task_list.name }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="row t-l-create">
            <div class="col-sm-8">
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                <div class="white-block">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="container">
                                <label for="add-task-item-name">{{ 'task_item.name'|trans }}</label>
                                <input type="text" name="add-task-item-name" class="add-task-item-name form-control">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="container">
                                <label for="add-task-item-qty">{{ 'task_item.qty'|trans }}</label>
                                <input type="text" name="add-task-item-qty" class="add-task-item-qty form-control">
                            </div>
                        </div>
                        <button class="btn btn-primary add-task-item" data-collection-holder-class="list-items">
                            {{ 'task_item.add'|trans }}
                        </button>
                    </div>
                    <ul class="list-items"
                        data-prototype=
                            "<div class='form-group col-auto'>
                                {{ form_widget(form.taskItems.vars.prototype)|e('html_attr') }}
                            </div>"
                        data-index="9999"
                    >
                        {% for taskItem in form.taskItems %}
                            <li>{{ form_row(taskItem) }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="li-modal">
                    <div class="w">
                        <div class="close text-right">
                            <span class="iconly-brokenClose-Square"></span>
                        </div>
                        <div class="data"></div>
                    </div>
                </div>
                <div class="text-center">
                    {{ form_row(form.save) }}
                </div>
            </div>
            <div class="col-sm-4 col-sm-4 t-l-sidebar">
                {% if form.users is defined %}
                    <h5>{{ 'share_list.share'|trans }}</h5>
                    <div class="white-block f-u-add">
                        {% include 'parts/private/list/shared-favourite.html.twig' %}
                        <div class="d-none">
                            {{ form_row(form.favouriteUsers) }}
                        </div>
                    </div>
                    <h5>{{ 'share_list.share'|trans }}</h5>
                    <div class="white-block">
                        <div class="form-group col-md-12">
                                <label for="add-user-email">{{ 'user.email'|trans }}</label>
                                <input type="email" name="add-user-email" class="add-user-email form-control">
                        </div>
                        <button class="btn btn-primary add-t-l-user" data-collection-holder-class="task-list-users">
                            {{ 'form.add'|trans }}
                        </button>

                        <ul class="task-list-users"
                            data-prototype=
                                "<div class='form-group col-auto'>
                                    {{ form_widget(form.users.vars.prototype)|e('html_attr') }}
                                </div>"
                            data-index="9999"
                        >
                            {% for user in form.users %}
                                <li>{{ form_row(user) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <ul class="task-list-users">
                        <li>{{ task_list.creator.email }}</li>
                        {% for user in task_list.shared %}
                            <li>{{ user.email }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}