{% extends 'base.html.twig' %}

{% block title %}{{ 'list.your_lists'|trans }}{% endblock %}

{% block body %}
    <a href="{{ path('task_list_create') }}" class="btn btn-default">{{ 'list.create_new'|trans }}</a>
    <hr>
    {% if task_lists %}
        {% set author = '' %}
        {% for task_list in task_lists %}
            {% if task_list.creator.email != author %}
                {% set author = task_list.creator.email %}
                <h5>By {{ task_list.creator.email }}</h5>
            {% endif %}
            <div class="row">
                <div class="col-md-9"><a href="{{ path('task_list_view', {'id': task_list.id}) }}"><h4>{{ task_list.name }}</h4></a></div>
                <div class="col-md-3">Remove</div>
            </div>
        {% endfor %}
    {% else %}
        {% include 'common/no-result.html.twig' only %}
    {% endif %}
{% endblock %}