{% extends 'v1/public/base-half-screen.html.twig' %}

{% block title %}{{ 'security.registration'|trans }}{% endblock %}

{% block content %}
    <div class="login-form">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h2 class="mb-3 text-center">{{ 'security.sign_up_to'|trans }} {{ _site_name }}</h2>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.nickName) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button type="submit" class="btn btn-lg btn-primary submit">Register</button>
        {{ form_end(registrationForm) }}
    </div>
    <div class="sign-up-link text-center">
        {{ 'security.already_have_acc'|trans }} <a href="{{ path('app_login') }}">{{ 'security.sign_in'|trans }}</a>
    </div>
{% endblock %}
