{% extends 'v1/public/base-half-screen.html.twig' %}

{% block title %}{{ 'security.registration'|trans }}{% endblock %}

{% block content %}
    <div class="login-form">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="h3 mb-3 font-weight-normal">Please register or <a href="{{ path('app_login') }}">sign in</a></h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.nickName) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button type="submit" class="btn btn-lg btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
