<div class="row ti {{  task_item.completed ? 'completed' }}" id="item-id-{{ task_item.id }}">
    <div class="tid mr-auto">
        <div class="tiq">{{ task_item.qty }}</div>
        {{ task_item.name }}
        {{ form(complete_item_forms[task_item.id]) }}
    </div>
    <div class="ie" data-url="{{ path('task_item_edit_form', {'id': task_item.id}) }}">
        <span class="iconly-brokenEdit"></span>
    </div>
    <div class="id">
        <span class="iconly-brokenDelete"></span>
    </div>
</div>