{% for task_list in task_lists %}
    <div class="tl">
        <a href="{{ path('task_list_view', {'id': task_list.id}) }}" class="link mr-auto">
            {{ task_list.name }}
            {% if task_list.shared|length > 0 %}
                ({{ 'list.shared'|trans }})
            {% endif %}
            {% if task_list.archived %}
                ({{ 'list.archived'|trans }})
            {% endif %}
        </a>
        {% if task_list.creator != app.user %}
            {{ app.user.nickname }}
        {% endif %}
    </div>
{% endfor %}