{% extends 'v1/base.html.twig' %}

{% block title %}{{ 'notification.your_notifications'|trans }}{% endblock %}

{% block page_title_upper %}
{% endblock %}

{% block page_title %}
    {{ 'notification.your_notifications'|trans }}
{% endblock %}

{% block content %}
    <div class="clear-notifications text-right">
        <a class="btn btn-outline-primary"
           href="{{ path('notification_clear') }}"
           onclick="return confirm('{{ 'validation.clear_notification_prompt'|trans }}')"
        >
            {{ 'notification.clear'|trans }}
        </a>
    </div>
    {% if notifications %}

        {% set date = '' %}
        {% for notification in notifications %}
            {% if date != notification.date|date('ydm') %}
                {% if date != '' %}
                    {% include 'v1/notification/block-end.html.twig' %}
                    {% include 'v1/notification/block-start.html.twig' %}
                {% else %}
                    {% include 'v1/notification/block-start.html.twig' %}
                {% endif %}
                {% set date = notification.date|date('ydm') %}
                {% include 'v1/notification/block-date.html.twig' %}
                <div class="notification-block">
            {% endif %}
            <div class="notification">
                <a href="{{ path('user_show', {'email': notification.userInvolved.email}) }}">
                    <div class="user-box small {{ notification.userInvolved.color }} float-left">
                        {{ notification.userInvolved.nickname|first|capitalize }}
                    </div>
                    <span class="username">{{ notification.userInvolved.nickname }}</span>
                </a>
                {% if notification.taskList %}
                    <a href="{{ path('task_list_view', {'id': notification.taskList.id}) }}">
                {% else %}
                    <a href="#" onclick="return">
                {% endif %}
                        <div class="nf-info">
                            {{ notification.getDescription()|trans({
                                '%app%': _site_name,
                                '%user%': '',
                                '%list%': '',
                                '%text%': notification.text
                            })|raw }}
                            <span class="tl-name">{{ notification.taskList.name ?? '' }}</span>
                            {{ notification.date|date('h:m') }}
                        </div>
                    </a>
            </div>
        {% endfor %}
        {% if date != '' %}
            {% include 'v1/notification/block-end.html.twig' %}
        {% endif %}
    {% else %}
        {% include 'v1/common/no-result.html.twig' only %}
    {% endif %}
{% endblock %}