<li>
    {{ 'helper.turn_off'|helper }}
</li>
{% if is_granted('ROLE_ADMIN') %}
    <li class="dropdown">
        {% include 'v1/parts/lang-dropdown.html.twig' %}
    </li>
{% endif %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle btn btn-primary list-create iconly-brokenPlus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ 'list.create_new'|trans }}
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('task_list_create') }}" class="btn btn-primary">
                {{ 'list.simple'|trans }}
            </a>
            <a href="{{ path('task_list_create_counter') }}" class="btn btn-primary">
                {{ 'list.counter'|trans }}
            </a>
        </li>
    </ul>
</li>

<li class="dropdown notifications">
    {% include 'v1/parts/private/notifications/notifications-dropdown.html.twig' %}
</li>
{% if app.user %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle user-box {{ app.user.color }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ app.user.nickname|first|capitalize }}
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="btn btn-primary btn-md btn-block" href="{{ path('app_logout') }}">
                    {{ "header.logout"|trans }}
                </a>
            </li>
        </ul>
    </li>
{% endif %}