<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('common') }}
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 wh100 login-wrapper d-none d-xs-none d-md-block">
                <div class="navbar-header">
                    <div class="logo">
                        <a href="{{ path('index') }}">
                            <img class="img-fluid" src="{{ asset('img/logo.svg') }}" alt="{{ _site_name }}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 wh100 justify-content-center login-main">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('common') }}
    {% endblock %}
    </body>
</html>
