<li>
    {{ 'helper.turn_off'|helper }}
</li>
{% if is_granted('ROLE_ADMIN') %}
    <li class="dropdown">
        {% include 'parts/lang-dropdown.html.twig' %}
    </li>
{% endif %}
<li>
    <a href="{{ path('task_list_create') }}" class="btn btn-primary iconly-brokenPlus">
        {{ 'list.create_new'|trans }}
    </a>
</li>
<li class="dropdown notifications">
    {% include 'parts/private/notifications/notifications-dropdown.html.twig' %}
</li>
{% if app.user %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle user-box {{ app.user.color }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ app.user.nickname|first|capitalize }}
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="btn btn-primary btn-md btn-block" href="{{ path('app_logout') }}">
                    {{ "header.logout"|trans }}
                </a>
            </li>
        </ul>
    </li>
{% endif %}